@model PortafolioEPIS.Models.Tbl_PlanEstudio
@{
    ViewBag.Title = "Ver";
    List<PortafolioEPIS.Models.Tbl_DetallePlanEstudio> detalleplanestudio = ViewBag.DetallePlanEstudio;
    int obligatorios = 0;
    int electivos = 0;
    int creditosobligatorios = 0;
    int creditoselectivos = 0;
}
<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Detalle Plan de Estudio</h4>
    </div>
    <div class="col-sm-5 col-6 text-right m-b-30">
        <a href="~/PlanEstudio/Agregar" class="btn btn-primary btn-rounded"><i class="fa fa-edit"></i> Editar Plan Estudio</a>
    </div>
</div>
<div class="card-box profile-header">
    <div class="row">
        <div class="col-md-12">
            <div class="profile-view">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-info-left">
                            <ul class="personal-info">
                                <li>
                                    <span class="title">Semestre:</span>
                                    <span class="title">@Model.Tbl_Semestre.Nombre_Semestre</span>
                                </li>
                                <li>
                                    <span class="title">Nombre:</span>
                                    <span class="text">@Model.Nombre_PlanEstudio</span>
                                </li>
                                <li>
                                    <span class="title">Fecha Inicio:</span>
                                    <span class="text">@Model.FechaInicio_PlanEstudio</span>
                                </li>
                                <li>
                                    <span class="title">Fecha Fin:</span>
                                    <span class="text">@Model.FechaFin_PlanEstudio</span>
                                </li>
                                @foreach (var p in detalleplanestudio)
                                {
                                    if (p.Codigo_PlanEstudio == Model.Codigo_PlanEstudio)
                                    {
                                        if(p.TipoCurso_DetallePlanEstudio=="Obligatorio")
                                        {
                                            creditosobligatorios = creditosobligatorios + p.TotalCreditos_DetallePlanEstudio;
                                            obligatorios = obligatorios + 1;
                                        }
                                        if (p.TipoCurso_DetallePlanEstudio == "Electivo")
                                        {
                                            creditoselectivos = creditoselectivos + p.TotalCreditos_DetallePlanEstudio;
                                            electivos = electivos + 1;
                                        }




                                    }
                                }
                              
                                <li>
                                    <span class="title">Cursos Obligatorios:</span>
                                    <span class="text">@obligatorios</span>
                                </li>
                                <li>
                                    <span class="title">Cursos Electivos:</span>
                                    <span class="text">@electivos</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <ul class="personal-info">
                            <li>
                                <span class="title">Créditos Obligatorios:</span>
                                <span class="text">@creditosobligatorios</span>
                            </li>
                            <li>
                                <span class="title">Créditos Electivos:</span>
                                <span class="text">@creditoselectivos</span>
                            </li>
                            <li>
                                <span class="title">Créditos Extra:</span>
                                <span class="text">@Model.TotalCreditosExtracurriculares_PlanEstudio</span>
                            </li>
                            <li>
                                <span class="title">Créditos Práticas:</span>
                                <span class="text">@Model.TotalCreditosPracticas_PlanEstudio</span>
                            </li>

                            <li>
                                <span class="title">Estado:</span>
                                @if (Model.Estado_PlanEstudio == true)
                                {
                                    <span class="text">Activo</span>
                                }
                                else
                                {
                                    <span class="text">Inactivo</span>
                                }
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">Cursos Asignados</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">Carga Academica</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">Mensajes</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <h3 class="card-title">Cursos II Ciclo</h3>
                        <div class="experience-box">
                            <ul class="experience-list">
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">ING-204 (Economia I) II A</a>
                                            <div>Total Horas: 6</div>
                                            <span class="time">Créditos: 4</span>
                                            <span class="time">Pre-requisito: Minimo 12 Creditos</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">ING-204 (Economia I) II B</a>
                                            <div>Total Horas: 6</div>
                                            <span class="time">Créditos: 4</span>
                                            <span class="time">Pre-requisito: Minimo 12 Creditos</span>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="card-box">
                        <h3 class="card-title">Cursos IV Ciclo</h3>
                        <div class="experience-box">
                            <ul class="experience-list">
                                <li>
                                    <div class="experience-user">
                                        <div class="before-circle"></div>
                                    </div>
                                    <div class="experience-content">
                                        <div class="timeline-content">
                                            <a href="#/" class="name">SI-474 (Ingeniería Económica y Financiera) IV A</a>
                                            <div>Total Horas: 6</div>
                                            <span class="time">Créditos: 4</span>
                                            <span class="time">Pre-requisito: ING-204</span>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">
            parte 2
        </div>
        <div class="tab-pane" id="bottom-tab3">
            Parte 3
        </div>
    </div>
</div>
