@model PortafolioEPIS.Models.Tbl_Semestre
@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Semestre/Index">Semestre</a>
        </li>
        <li class="breadcrumb-item active">@Model.Nombre_Semestre</li>

    </ol>
</nav>

<div class="card">
    <div class="card-header">
        Informacion detallada
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>Id</dt>
            <dd>@Model.Codigo_Semestre</dd>
            <dt>Semestre</dt>
            <dd>@Model.Nombre_Semestre</dd>
            <dt>Año</dt>
            <dd>@Model.Anio_Semestre</dd>
            <dt>Estado</dt>
            <dd>@(Model.Estado_Semestre ? "Activo" : "Inactivo")</dd>
        </dl>
    </div>
</div>

