@model PortafolioEPIS.Models.Tbl_Docente
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Agregar Docente</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="card-title">Información Docente</h4>
            @using (Html.BeginForm("Index", "Docente", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Codigo_Docente)
                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.Label("Código")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Codigo_Docente,new { @class = "form-control", @placeholder="Ingrese codigo" })
                           
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("DNI")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.DNI_Docente, new { @class = "form-control", @placeholder = "Ingrese DNI" })
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.Label("Nombres")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Nombres_Docente, new { @class = "form-control", @placeholder = "Ingrese nombres" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Apellidos")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Apellidos_Docente, new { @class = "form-control", @placeholder = "Ingrese apellidos" })
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        @Html.Label("Sexo")
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="patient_active" value="option1" checked>
                                <label class="form-check-label" for="patient_active">Masculino</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="patient_inactive" value="option2">
                                <label class="form-check-label" for="patient_inactive">Femenino</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Estado Civil")
                        <div class="form-group">
                            <select class="form-control">
                                <option>-Seleccionar-</option>
                                <option>Soltero</option>
                                <option>Casado</option>
                                <option>Divorciado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Fecha de Nacimiento")
                        <div class="form-group">
                            <div class="cal-icon">
                                <input type="text" class="form-control datetimepicker">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.Label("Profesión")
                        <div class="form-group">
                            <select class="form-control">
                                <option>-Seleccionar-</option>
                                <option>Ingeniero de Sistemas</option>
                                <option>Licenciado en Literatura y Comunicación</option>
                                <option>Magister en Derecho Penal</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Cargo")
                        <div class="form-group">
                            <select class="form-control">
                                <option>-Seleccionar-</option>
                                <option>Director de Escuela</option>
                                <option>Secretario Académico</option>
                                <option>Tutoria</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-6">
                        @Html.Label("Dirección Actual")
                        <div class="form-group">
                            @*@Html.TextBoxFor(x => x.Nombre_Semestre, new { @class = "form-control", @placeholder="Ingrese Nombre" })*@
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Dirección de Referencia")
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        @Html.Label("Correo")
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Teléfono Fijo")
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Teléfono Celular")
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        @Html.Label("Foto")
                        <div class="form-group">
                            <div class="profile-upload">
                                <div class="upload-img">
                                    <img alt="" src="~/assets/img/user.jpg">
                                </div>
                                <div class="upload-input">
                                    <input type="file" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row clearfix">
                    <div class="col-md-12">
                        @Html.Label("Estado")
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status1" id="patient_active" value="option1" checked>
                                <label class="form-check-label" for="patient_active">Activo</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status1" id="patient_inactive" value="option2">
                                <label class="form-check-label" for="patient_inactive">Inactivo</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="col-sm-8 col-9 text-left">
                                    <div class="form-check form-check-inline">
                                        <a href="~/Docente/Index2" class="btn btn btn-outline-primary btn-rounded" style='width:100px; height:35px'> Cancelar</a>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="submit" value="Crear" class="btn btn btn-primary btn-rounded" style='width:100px; height:35px' />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>