@model PortafolioEPIS.Models.Tbl_DetalleCargaAcademica

@{

}




<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Informe Prueba de Entrada</h4>
    </div>
</div>

<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">1. Datos Generales</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">2. Conociminetos y Habilidades</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">3. Medidas Correctivas</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">

                        @using (Html.BeginForm("Guardar", "Docente", FormMethod.Post, new { id = "frm-docente", enctype = "multipart/form-data" }))
                        {
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active" aria-current="page">INFORMACION DE CURSO</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                            
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="form-group form-focus" >
                                        <label class="focus-label">Codigo:</label>
                                        <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.CodigoCurso_DetallePlanEstudio">

                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Asignatura:</label>
                                        <input type="text" style="background:#ffffff" readonly  class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-2">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Sección:</label>
                                        <input type="text" style="background:#ffffff" readonly  class="form-control floating" value="@Model.Tbl_Seccion.Nombre_Seccion">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Ciclo:</label>
                                        <input type="text" style="background:#ffffff" readonly  class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.Ciclo_DetallePlanEstudio">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Horas:</label>
                                        <input type="text" style="background:#ffffff" readonly  class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.TotalHoras_DetallePlanEstudio">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Créditos:</label>
                                        <input type="text" style="background:#ffffff" readonly  class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.TotalCreditos_DetallePlanEstudio">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Tipo Curso:</label>
                                        <input type="text" style="background:#ffffff" readonly  class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.TipoCurso_DetallePlanEstudio">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active" aria-current="page">DATOS DOCENTE</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-4">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Codigo:</label>
                                        <input type="text" style="background:#ffffff" readonly  class="form-control floating" value="@Model.Tbl_Docente.Codigo_Docenteepis">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Nombre:</label>
                                        <input type="text" style="background:#ffffff" readonly  class="form-control floating" value="@Model.Tbl_Docente.Nombres_Docente @Model.Tbl_Docente.Apellidos_Docente">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-8">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Email:</label>
                                        <input type="text" style="background:#ffffff" readonly  class="form-control floating" value="@Model.Tbl_Docente.Correo_Docente">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Celular:</label>
                                        <input type="text" style="background:#ffffff" readonly  class="form-control floating" value="@Model.Tbl_Docente.TelefonoCelular_Docente">
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item active" aria-current="page">NUMERO DE ESTUDIANTES</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-6">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Matriculados:</label>
                                        <input type="text" style="background:#ffffff" readonly  class="form-control floating" value="@Model.Matriculados_DetalleCargaAcademica">

                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group form-focus">
                                        <label class="focus-label">Evaluados:<span class="text-danger">*</span></label>
                                        <input type="text" class="form-control floating" value="25">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-focus">
                                        <div class="form-check form-check-inline">
                                            <button class="btn btn-primary btn-rounded" style='width:100px; height:35px' type="submit"><i class="fa fa-check"></i> Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                                {Html.RenderAction("Agregar", "ConocimientoHabilidad", new ViewDataDictionary(new { id = Model.Codigo_Docente })); }
                                <!--Listar tabla conocimientos habilidades-->
                                {Html.RenderAction("Index", "ConocimientoHabilidad", new ViewDataDictionary(new { id = Model.Codigo_Docente })); }
                                <!--Listar tabla conocimientos habilidades-->
                            



                        }


                    </div>

                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">
            parte 2
        </div>
        <div class="tab-pane" id="bottom-tab3">
            Parte 3
        </div>
    </div>
</div>




