@model PortafolioEPIS.Models.RegisterViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IngresoSistema</title>
    <link href="~/assets/Login/login.css" rel="stylesheet" />

</head>
<body>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Cree una cuenta nueva.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Registrarse" />
            </div>
        </div>
    }
    @*<div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 style="color:black"> Ingreso al Sistema </h2>
            <!-- Icon -->
            <div class="fadeIn first">
                <img src="~/assets/Login/docente.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form action="~/Inicio/Index">
                <input type="text" class="fadeIn second" name="login" placeholder="Usuario">
                <input type="password" class="fadeIn third" name="login" placeholder="Contraseña">
                <input type="submit" class="fadeIn fourth" value="INGRESAR">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a href="#">PORTAFOLIO DOCENTE</a>
            </div>

        </div>
    </div>*@
</body>

</html>
<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script src="~/assets/js/jquery.validate.js"></script>
