@model PortafolioEPIS.Models.Tbl_DetallePlanEstudio
@{
    List<PortafolioEPIS.Models.Tbl_PlanEstudio> objPlanEstudio = ViewBag.Tbl_PlanEstudio;
    ViewBag.Title = "Agregar";
}

<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">Agregar Detalle Plan de Estudio</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="card-title">Información de Curso</h4>
            @using (Html.BeginForm("Guardar", "DetallePlanEstudio", FormMethod.Post))
            {
                @Html.HiddenFor(x => x.Codigo_DetallePlanEstudio)
                <div class="row clearfix">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.Label("Plan de Estudio")


                            <select name="Codigo_PlanEstudio" class="form-control">
                                <option value=""> -- Seleccione --</option>
                                @foreach (var e in objPlanEstudio)
                                {
                                    <option @(Model.Codigo_PlanEstudio.Equals(e.Codigo_PlanEstudio)) value="@e.Codigo_PlanEstudio">@e.Nombre_PlanEstudio</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        @Html.Label("Código Curso")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.CodigoCurso_DetallePlanEstudio, new { @class = "form-control", @placeholder = "Ingrese el Codigo" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.Label("Asignatura")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.Asignatura_DetallePlanEstudio, new { @class = "form-control", @placeholder = "Ingrese nombre del curso" })
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        @Html.Label("Horas Teóricas")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.HorasTeoricas_DetallePlanEstudio, new { @class = "form-control", @placeholder = "Ingrese total hora teorica" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Horas Prácticas")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.HorasPracticas_DetallePlanEstudio, new { @class = "form-control", @placeholder = "Ingrese total hora practica" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Total Horas")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.TotalHoras_DetallePlanEstudio, new { @class = "form-control", @placeholder = "Ingrese total Horas" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Créditos")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.TotalCreditos_DetallePlanEstudio, new { @class = "form-control", @placeholder = "Ingrese total credito" })
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4">
                        @Html.Label("Pre-Requisito")
                        <div class="form-group">
                            @Html.TextBoxFor(x => x.PreRequisito_DetallePlanEstudio, new { @class = "form-control", @placeholder = "Ingrese curso pre-requisito" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Ciclo")
                        <div class="form-group">
                            <select class="form-control">
                                <option>-Seleccionar-</option>
                                <option>I</option>
                                <option>II</option>
                                <option>III</option>
                                <option>IV</option>
                                <option>V</option>
                                <option>VI</option>
                                <option>VII</option>
                                <option>VIII</option>
                                <option>IX</option>
                                <option>X</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Tipo")
                        <div class="form-group">
                            <select class="form-control">
                                <option>-Seleccionar-</option>
                                <option>Obligatorio</option>
                                <option>Electivo</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12">
                        @Html.Label("Estado")
                        <div class="form-group">
                            @Html.RadioButtonFor(x => x.Estado_DetallePlanEstudio, true, new { @checked = true }) Activo  <label>&nbsp &nbsp</label>
                            @Html.RadioButtonFor(x => x.Estado_DetallePlanEstudio, false) Inactivo
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="form-group row">
                                <div class="col-sm-8 col-9 text-left">
                                    <div class="form-check form-check-inline">
                                        <a href="~/DetallePlanEstudio/Index" class="btn btn btn-outline-primary btn-rounded" style='width:100px; height:35px'> Cancelar</a>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input type="submit" value="Guardar" class="btn btn btn-primary btn-rounded" style='width:100px; height:35px' />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            }
        </div>
    </div>
</div>