@model List<PortafolioEPIS.Models.Tbl_DetallePlanEstudio>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-sm-4 col-3">
        <h4 class="page-title">Detalle Plan de Estudio <strong>2016-I</strong></h4>
    </div>
    <div class="col-sm-8 col-9 text-right m-b-20">
        <div class="form-check form-check-inline">
            <a href="~/DetallePlanEstudio/Agregar/" class="btn btn-primary btn-rounded float-right"><i class="fa fa-plus"></i> Agregar Curso</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table mb-0 datatable">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Plan Estudio</th>
                        <th>Codigo Curso</th>
                        <th>Asignatura</th>
                        <th>Tipo</th>
                        <th>Total Horas</th>
                        <th>Créditos</th>
                        <th>Ciclo</th>
                        <th class="text-center">Estado</th>
                        <th class="text-right">Accción</th>
                    </tr>
                </thead>
                <tbody>
                    @{ int num = 0;}
                    @foreach (var p in Model)
                    {
                        num = num + 1;
                        <tr>
                            <td>@num</td>
                            <td><a href="~/DetallePlanEstudio/Agregar/@p.Codigo_DetallePlanEstudio">@p.Tbl_PlanEstudio.Nombre_PlanEstudio</a></td>
                            <td>@p.CodigoCurso_DetallePlanEstudio</td>
                            <td>@p.Asignatura_DetallePlanEstudio</td>
                            <td>@p.TipoCurso_DetallePlanEstudio</td>
                            <td>@p.HorasTeoricas_DetallePlanEstudio</td>
                            <td>@p.HorasPracticas_DetallePlanEstudio</td>
                            <td>@p.Ciclo_DetallePlanEstudio</td>

                            @if (p.Estado_DetallePlanEstudio == true)
                            {
                                <td><span class="custom-badge status-green">Activo</span></td>
                            }
                            else
                            {
                                <td><span class="custom-badge status-red">Inactivo</span></td>
                            }
                            <td class="text-right">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="~/DetallePlanEstudio/Ver/@p.Codigo_DetallePlanEstudio"><i class="fa fa-eye m-r-5"></i> Ver</a>
                                        <a class="dropdown-item" href="~/DetallePlanEstudio/Agregar/@p.Codigo_DetallePlanEstudio"><i class="fa fa-pencil m-r-5"></i> Editar</a>
                                        <a class="dropdown-item" href="~/DetallePlanEstudio/Eliminar/@p.Codigo_DetallePlanEstudio" onclick="return confirm('¿Esta Seguro de Eliminar.........?');"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>






