@model PortafolioEPIS.Models.Tbl_DetalleCargaAcademica

@{
    List<PortafolioEPIS.Models.Tbl_InformeFinal> prueba = ViewBag.Prueba;
    List<PortafolioEPIS.Models.Tbl_Observaciones> ListarInformeFinal = ViewBag.ListarInformeFinal;
    int idpruebas = 0;



}
<div class="row">
    <div class="col-sm-7 col-6">
        <h4 class="page-title">Informe Final </h4>
    </div>
</div>

<div class="profile-tabs">
    <ul class="nav nav-tabs nav-tabs-bottom">
        <li class="nav-item"><a class="nav-link active" href="#about-cont" data-toggle="tab">1. Datos Generales</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab2" data-toggle="tab">2. Graficos</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab3" data-toggle="tab">3. Capacidades del Curso</a></li>
        <li class="nav-item"><a class="nav-link" href="#bottom-tab4" data-toggle="tab">4. Observaciones</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane show active" id="about-cont">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">

                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">INFORMACION DE CURSO</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Codigo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.CodigoCurso_DetallePlanEstudio">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Asignatura:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.Asignatura_DetallePlanEstudio">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Sección:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_Seccion.Nombre_Seccion">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Ciclo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.Ciclo_DetallePlanEstudio">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Horas:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.TotalHoras_DetallePlanEstudio">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Créditos:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.TotalCreditos_DetallePlanEstudio">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Tipo Curso:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_DetallePlanEstudio.TipoCurso_DetallePlanEstudio">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">DATOS DOCENTE</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Codigo:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_Docente.Codigo_Docenteepis">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Nombre:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_Docente.Nombres_Docente @Model.Tbl_Docente.Apellidos_Docente">
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-8">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Email:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_Docente.Correo_Docente">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-focus">
                                    <label class="focus-label">Celular:</label>
                                    <input type="text" style="background:#ffffff" readonly class="form-control floating" value="@Model.Tbl_Docente.TelefonoCelular_Docente">
                                </div>
                            </div>
                        </div>
                        @foreach (var p in prueba)
                        {
                            if (p.Codigo_DetalleCargaAcademica == Model.Codigo_DetalleCargaAcademica)
                            {
                                idpruebas = p.Codigo_InformeFinal;

                            }
                        }
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">RESUMEN DEL CURSO</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>

                        @*Form*@
                        @if (idpruebas == 0)
                        {
                            <div class="table-responsive">


                                <form method="post" action="" id="evaluados ">
                                    <input type="text" name="idprueba" id="idprueba" value="0" class="form-control floating" hidden>

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Item</th>
                                                <th class="text-center">Cantidad</th>
                                                <th class="text-center">Porcentaje</th>
                                            </tr>
                                        </thead>


                                        <!-- Modal / Ventana / Overlay en HTML -->


                                        <tbody>
                                            <tr>

                                                <td>1</td>
                                                <td>Porcentaje de cumplimiento del sílabo</td>
                                                <td><input type="text" name="porcentajesilabo" id="porcentajesilabo" class="form-control text-center"></td>
                                                <td class="text-center">80%</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Practicas calificada realizadas</td>
                                                <td><input type="text" name="practicasrealizadas" id="practicasrealizadas" class="form-control text-center"></td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Experiencias de laboratorio realizadas</td>
                                                <td><input type="text" name="experienciaslaboratorio" id="experienciaslaboratorio" class="form-control text-center"></td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Proyectos y/o trabajos de realizados</td>
                                                <td><input type="text" name="proyectosrealizados" id="proyectosrealizados" class="form-control text-center"></td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Estudiantes Matriculados</td>
                                                <td><input type="text" name="matriculados" id="matriculados"  readonly class="form-control text-center" value="@Model.Matriculados_DetalleCargaAcademica"></td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Estudiantes con retiro</td>
                                                <td><input type="text" name="estudiantesretiro" id="estudiantesretiro" class="form-control text-center"></td>
                                                <td class="text-center">6.7%</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Estudiantes en abandono</td>
                                                <td><input type="text" name="estudiantesabandono" id="estudiantesabandono" class="form-control text-center"></td>
                                                <td class="text-center">10%</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Estudiantes que asisten</td>
                                                <td><input type="text" name="estudiantesasistentes" id="estudiantesasistentes" readonly class="form-control text-center" value="25"></td>
                                                <td class="text-center">83.3%</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Estudiantes Aprobados</td>
                                                <td><input type="text" name="estudiantesaprobados" id="estudiantesaprobados" class="form-control text-center"></td>
                                                <td class="text-center">50%</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Estudiantes Desaprobados</td>
                                                <td><input type="text" name="estudiantesdesaprobados" id="estudiantesdesaprobados" readonly class="form-control text-center" value="10"></td>
                                                <td class="text-center">33.3%</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Nota final mas alta</td>
                                                <td><input type="text" name="notamasalta" id="notamasalta" class="form-control text-center"></td>
                                                <td class="text-center"></td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>Nota final promedio</td>
                                                <td><input type="text" name="notapromedio" id="notapromedio" class="form-control text-center"></td>
                                                <td class="text-center"></td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>Nota final mas baja</td>
                                                <td><input type="text" name="notamasbaja" id="notamasbaja" class="form-control text-center"></td>
                                                <td class="text-center"></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </form>
                            </div>


                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button onclick="form1()" class="btn btn-primary btn-rounded" style='width:150px; height:35px' type="submit"><i class="fa fa-refresh"></i> Actualizar</button>
                                    </div>
                                </div>
                            </div>
                        }

                        else

                        {
                            <input type="text" name="idprueba" id="idprueba" value="@idpruebas" class="form-control floating" hidden>
                            <div class="table-responsive">
                                <form method="post" action="" id="evaluados ">
                                    <input type="text" name="idprueba" id="idprueba" value="0" class="form-control floating" hidden>

                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Item</th>
                                                <th class="text-center">Cantidad</th>
                                                <th class="text-center">Porcentaje</th>
                                            </tr>
                                        </thead>


                                        <!-- Modal / Ventana / Overlay en HTML -->


                                        <tbody>
                                            <tr>

                                                <td>1</td>
                                                <td>Porcentaje de cumplimiento del sílabo</td>
                                                <td><input type="text" name="porcentajesilabo" id="porcentajesilabo" class="form-control text-center" value="80"></td>
                                                <td class="text-center">80%</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Practicas calificada realizadas</td>
                                                <td><input type="text" name="practicasrealizadas" id="practicasrealizadas" class="form-control text-center" value="6"></td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Experiencias de laboratorio realizadas</td>
                                                <td><input type="text" name="experienciaslaboratorio" id="experienciaslaboratorio" class="form-control text-center" value="5"></td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Proyectos y/o trabajos de realizados</td>
                                                <td><input type="text" name="proyectosrealizados" id="proyectosrealizados" class="form-control text-center" value="3"></td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Estudiantes Matriculados</td>
                                                <td><input type="text" name="matriculados" id="matriculados" readonly class="form-control text-center" value="@Model.Matriculados_DetalleCargaAcademica"></td>
                                                <td class="text-center">100%</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>Estudiantes con retiro</td>
                                                <td><input type="text" name="estudiantesretiro" id="estudiantesretiro" class="form-control text-center" value="2"></td>
                                                <td class="text-center">6.7%</td>
                                            </tr>
                                            <tr>
                                                <td>7</td>
                                                <td>Estudiantes en abandono</td>
                                                <td><input type="text" name="estudiantesabandono" id="estudiantesabandono" class="form-control text-center" value="3"></td>
                                                <td class="text-center">10%</td>
                                            </tr>
                                            <tr>
                                                <td>8</td>
                                                <td>Estudiantes que asisten</td>
                                                <td><input type="text" name="estudiantesasistentes" id="estudiantesasistentes" readonly class="form-control text-center" value="25"></td>
                                                <td class="text-center">83.3%</td>
                                            </tr>
                                            <tr>
                                                <td>9</td>
                                                <td>Estudiantes Aprobados</td>
                                                <td><input type="text" name="estudiantesaprobados" id="estudiantesaprobados" class="form-control text-center" value="15"></td>
                                                <td class="text-center">50%</td>
                                            </tr>
                                            <tr>
                                                <td>10</td>
                                                <td>Estudiantes Desaprobados</td>
                                                <td><input type="text" name="estudiantesdesaprobados" id="estudiantesdesaprobados" readonly class="form-control text-center" value="10"></td>
                                                <td class="text-center">33.3%</td>
                                            </tr>
                                            <tr>
                                                <td>11</td>
                                                <td>Nota final mas alta</td>
                                                <td><input type="text" name="notamasalta" id="notamasalta" class="form-control text-center" value="18"></td>
                                                <td class="text-center"></td>
                                            </tr>
                                            <tr>
                                                <td>12</td>
                                                <td>Nota final promedio</td>
                                                <td><input type="text" name="notapromedio" id="notapromedio" class="form-control text-center" value="14"></td>
                                                <td class="text-center"></td>
                                            </tr>
                                            <tr>
                                                <td>13</td>
                                                <td>Nota final mas baja</td>
                                                <td><input type="text" name="notamasbaja" id="notamasbaja" class="form-control text-center" value="10"></td>
                                                <td class="text-center"></td>
                                            </tr>
                                        </tbody>

                                    </table>
                                </form>
                            </div>


                            <div class="row clearfix">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <button onclick="form1()" class="btn btn-primary btn-rounded" style='width:150px; height:35px' type="submit"><i class="fa fa-refresh"></i> Actualizar</button>
                                    </div>
                                </div>
                            </div>
                        }

                        <script>
                            var form1 = function () {

                                var idprueba = document.getElementById("idprueba").value;
                                var psilabo = document.getElementById("porcentajesilabo").value;
                                var prarealizadas = document.getElementById("practicasrealizadas").value;
                                var elaboratorio = document.getElementById("experienciaslaboratorio").value;
                                var prorealizados = document.getElementById("proyectosrealizados").value;                                
                                var matriculados = document.getElementById("matriculados").value;
                                var estretiro= document.getElementById("estudiantesretiro").value;
                                var estabandono = document.getElementById("estudiantesabandono").value;
                                var estasistentes= document.getElementById("estudiantesasistentes").value;
                                var estaprobados = document.getElementById("estudiantesaprobados").value;
                                var estdesaprobados = document.getElementById("estudiantesdesaprobados").value;
                                var notaalta = document.getElementById("notamasalta").value;
                                var notapromedio = document.getElementById("notapromedio").value;
                                var notabaja = document.getElementById("notamasbaja").value;
                                var stado = "G";

                                //alert(idprueba + "\n" + psilabo);

                                window.location.href = '@Url.Content("~/InformeFinal/Guardar1/")' + "?idprueba=" + idprueba + "&psilabo=" + psilabo + "&prarealizadas=" + prarealizadas + "&elaboratorio=" + elaboratorio + "&codigo=" + @Model.Codigo_DetalleCargaAcademica + "&estado=" + stado + "&prorealizados=" + prorealizados + "&matriculados=" + matriculados + "&estretiro=" + estretiro + "&estabandono=" + estabandono + "&estasistentes=" + estasistentes + "&estaprobados=" + estaprobados + "&estdesaprobados=" + estdesaprobados + "&notaalta=" + notaalta + "&notapromedio=" + notapromedio + "&notabaja=" + notabaja;
                            }
                        </script>



                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab2">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">GRAFICO 1 : ASISTENCIA DE ESTUDIANTES</li>
                                    </ol>
                                </nav>
                                <div id="container" style="width: 450px; height: 400px; margin: 0 auto"></div>
                                <script type="text/javascript">
                                    Highcharts.chart('container', {
                                        chart: {
                                            type: 'column'
                                        },
                                        title: {
                                            text: 'Estudiantes'
                                        },
                                        xAxis: {
                                            type: 'category'
                                        },
                                        yAxis: {
                                            title: {
                                                text: 'Total de Estudiantes del Curso'
                                            }

                                        },
                                        legend: {
                                            enabled: false
                                        },
                                        ooltip: {
                                            headerFormat: '<b>{point.x}</b><br/>',
                                            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
                                        }, plotOptions: {
                                            column: {
                                                stacking: 'normal',
                                                dataLabels: {
                                                    enabled: true,
                                                }
                                            }
                                        },

                                        series: [
                                            {
                                                name: "Estudiantes",
                                                colorByPoint: true,
                                                data: [
                                                    {
                                                        name: 'Matriculados',
                                                        color: '#ED7D31',
                                                        y: @*@Model.Matriculados_DetalleCargaAcademica*@30,

                                                    },
                                                    {
                                                        name: 'Asisten',
                                                        color: '#009EFB',
                                                        y: @*@asisten*@25,

                                                    },
                                                ]
                                            }
                                        ]
                                    });
                                </script>
                            </div>
                        </div>


                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">GRAFICO 2 : SITUACIÓN GENERAL DE ESTUDIANTES</li>
                                    </ol>
                                </nav>
                                <div id="container2" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">
                                    <script type="text/javascript">
                                        Highcharts.chart('container2', {
                                            chart: {

                                                type: 'pie'
                                            },
                                            title: {
                                                text: 'Situacion General'
                                            },
                                            tooltip: {
                                                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                            },
                                            plotOptions: {
                                                pie: {
                                                    allowPointSelect: true,
                                                    cursor: 'pointer',
                                                    dataLabels: {
                                                        enabled: true,
                                                        format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                                                    }
                                                    , showInLegend: true
                                                }

                                            },
                                            series: [{
                                                name: 'Situacion',
                                                data: [{
                                                    name: 'Aprobados',
                                                    color: '#00B0F0',
                                                    y:@*@aprobados*@20,
                                                },
                                                {
                                                    name: 'Desaprobados',
                                                    color: '#FF0000',
                                                    y:@*@desaprobados*@5,
                                                }, {
                                                    name: 'Retirados',
                                                    color: '#FFC000',
                                                    y: @*@retirados*@4,
                                                }, {
                                                    name: 'Abandono',
                                                    color: '#767171',
                                                    y: @*@abandonos*@1,
                                                }],
                                            }]
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>



                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">GRAFICO 3 : RENDIMIENTO DE ESTUDIANTES</li>
                                    </ol>
                                </nav>
                                <div id="container3" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
                                <script type="text/javascript">
                                    Highcharts.chart('container3', {
                                        chart: {
                                            type: 'bar'
                                        },
                                        title: {
                                            text: 'Rendimiento'
                                        },
                                        xAxis: {
                                            categories: ['Porcentaje']
                                        },
                                        yAxis: {
                                            min: 0,
                                            title: {
                                                text: 'Rendimiento'
                                            }
                                        },
                                        legend: {
                                            reversed: true
                                        },
                                        tooltip: {
                                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                        },
                                        plotOptions: {
                                            series:
                                            {
                                                stacking: 'normal',
                                                dataLabels: {
                                                    cursor: 'pointer',
                                                    format: '<b>{point.name}</b><br>{point.percentage:.1f} %',
                                                    enabled: true,
                                                    filter: {
                                                        property: 'percentage',
                                                        operator: '>',
                                                        value: 2
                                                    },
                                                }
                                            }
                                        },
                                        series: [{
                                            name: 'Aprobados',
                                            color: '#00B0F0',
                                            data: [@*@aprobados*@20]
                                        },
                                        {
                                            name: 'Desaprobados',
                                            color: '#FF0000',
                                            data: [@*@desaprobados*@5]
                                        }]
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab3">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">LOGROS DE CAPACIDADES DEL CURSO</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-sm-12 col-12 text-right m-b-20">
                                <div class="form-check form-check-inline">
                                    <!-- Botón en HTML (lanza el modal en Bootstrap) -->
                                    <a href="#victorModal" role="button" class="btn btn-primary btn-rounded float-right" data-toggle="modal"><i class="fa fa-plus"></i> Nuevo Registro</a>
                                </div>
                            </div>
                        </div>

                        <!-- Modal / Ventana / Overlay en HTML -->
                        <div id="victorModal" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Capacidad del Curso</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                @Html.Label("Nombre:")
                                                <div class="form-group">
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row clearfix">
                                            <div class="col-md-12">
                                                <strong>@Html.Label("Nivel Alcanzado:")</strong>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio"> Nada
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio"> Poco
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio"> Aceptable
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio"> Bien
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" name="radio"> Muy Bien
                                                    </label>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                        <button class="btn btn-primary btn-rounded" style='width:100px; height:35px' type="submit"><i class="fa fa-check"></i> Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th rowspan="2">#</th>
                                        <th rowspan="2">Capacidades del curso</th>
                                        <th class="text-center" colspan="5">Nivel Alcanzado</th>
                                        <th rowspan="2" class="text-right">Accción</th>
                                    </tr>
                                    <tr>
                                        <th class="text-center">Nada</th>
                                        <th class="text-center">Poco</th>
                                        <th class="text-center">Aceptable</th>
                                        <th class="text-center">Bien</th>
                                        <th class="text-center">Muy Bien</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Nivel alcanzado Nº1</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center">X</td>
                                        <td class="text-center"></td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Nivel alcanzado Nº2</td>
                                        <td class="text-center"></td>
                                        <td class="text-center">X</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-right">
                                            <div class="dropdown dropdown-action">
                                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item" href="#"><i class="fa fa-trash-o m-r-5"></i> Eliminar</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br /><br />
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>Cuál cree que ha sido el motivo por el cual los estuiantes no alcanzaron el logro de capacidades</strong></label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" cols="5" placeholder="Escriba Aquí"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-primary btn-rounded" style='width:150px; height:35px' type="submit"><i class="fa fa-refresh"></i> Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="bottom-tab4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-box">
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item active" aria-current="page">OBSERVACIONES</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>1. De los estudiantes. </strong>Nivel académico, conocimientos previos, interés en el curso, estilos de aprendizaje</label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" cols="5" placeholder="Escribe Aquí"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>2. Asistencia y puntualidad de los estudiantes. </strong></label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" cols="5" placeholder="Escribe Aquí"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>3. Del sílabo.  </strong>Qué temas del sílabo no se han completado? Considera todos los temas adecuados? Qué temas requieren más tiempo de dedicación? </label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" cols="5" placeholder="Escribe Aquí"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>4.  Uso del Aula Virtual. </strong> Información colocada, uso de foros, chat  y cantidad de visitas estudiantiles.</label>
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="checkbox"> Material del curso
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="checkbox"> Foros
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="checkbox"> Cuestionarios
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="checkbox"> Examenes virtuales
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="checkbox"> Tareas Encargadas
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="checkbox"> Slideshow
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>5.  Administrativas. </strong>Disponibilidad de recursos en aulas y laboratorios.</label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" cols="5" placeholder="Escribe Aquí"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>6. Sílabo por competencias. </strong>Qué actividades realizó usted para la evaluación del cumplimiento de las competencias  de su curso,  por los estudiantes? Podría presentar una propuesta de evaluación de las competencias de su curso?</label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" cols="5" placeholder="Escribe Aquí"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>7. Mejora continua. </strong>Qué actividades de mejora continua ha realizado en el curso en este ciclo y cuales propone para el siguiente, para mejorar el rendimiento académico del estudiante. </label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" cols="5" placeholder="Escriba Aquí"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>8. Actualización docente.</strong>Ha seguido usted algún curso de actualización profesional o docente en los últimos dos años. Indique tema del curso y duración. </label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" cols="5" placeholder="Escriba Aquí"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><strong>9. Comentarios y Recomendaciones.</strong> Serán útiles para mejorar el Plan de Estudios y los servicios que brindan la Escuela, la Facultad y la Universidad</label>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" cols="5" placeholder="Escriba Aquí"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-primary btn-rounded" style='width:150px; height:35px' type="submit"><i class="fa fa-refresh"></i> Actualizar</button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


